* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #464655;
}

.Navbar {
  width: 100vw;
}

.tab{
  color: black;
}

.root{
  
  background-color: #464655;
  overflow-y: auto;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center; /* Center items horizontally */
  flex-direction: column;
  color: #090000;
  flex-grow: 1;
  width: 100vw;
}
.aboutme {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  
}

.aboutme-title{
  color: white;
  font-size: 30px;
}

.experience-title{
  font-size: 30px;
  color: white;
}

.projects-title{
  font-size: 30px;
  color: white;
}

.projects{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}


.experience{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.Name {
  font-size: 40px;
  
  color: white
}

.intro{
  margin-top: 15%;
  display:flex;
  align-content: center;
  justify-content: center;
}

.descrip{
  display:flex;
  align-content: center;
  justify-content: center;
}

.shortDescrip {
  font-size: 25px;
  color: white
}

.littleaboutme{
  display:flex;
  align-content: center;
  justify-content: center;
  
  flex-grow: 1;
}

.littleaboutmedescr{
  display:flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  max-width: 600px;
  font-size: 15px;
  color: rgba(205, 202, 202, 0.636)
}

body, html {
  background-color: #464655; /* Ensure the body and html take full height */
  overflow-y: auto;
}

.container {
  background-color: #464655;
  display: flex;
  flex-direction: column;
  width: 100vw;


  
  
}
